使用tuple

In [0]:
primes = (2, 3, 5, 7, 11)
print(type(primes))

<class 'tuple'>

常用的 tuple 操作

1.len() 觀察長度

2.索引（Indexing）

3.切割（Slicing）

1.len() 觀察長度

In [0]:
print(len(primes))

5

2.索引（indexing）

In [0]:
print(primes[0])
print(primes[1])
print(primes[-1])
print(primes[-2])

2
3
11
7

3.切割（slicing）

start 起始索引（包含）

stop 結束索引（不包含）

step 間距

In [0]:
print(primes[::2])

[2, 5, 11]

獲取 dict 的標籤與資料

.keys()：取得標籤

.values()：取得資料

.items()：同時取得標籤和資料

In [0]:
the_avengers = {
    "Iron Man": "Tony Stark",
    "Captain America": "Steve Rogers",
    "Hulk": "Bruce Banner",
    "Thor": "Thor",
    "Black Widow": "Natasha Romanoff",
    "Hawkeye": "Clint Barton"
}

In [0]:
print(type(the_avengers))

<class 'dict'>

In [0]:
print(the_avengers.keys()) #取得標籤

dict_keys(['Iron Man', 'Captain America', 'Hulk', 'Thor', 'Black Widow', 'Hawkeye'])

In [0]:
print(the_avengers.values()) #取得資料

dict_values(['Tony Stark', 'Steve Rogers', 'Bruce Banner', 'Thor', 'Natasha Romanoff', 'Clint Barton'])

In [0]:
print(the_avengers.items()) #同時取得標籤和資料

dict_items([('Iron Man', 'Tony Stark'), ('Captain America', 'Steve Rogers'), ('Hulk', 'Bruce Banner'), ('Thor', 'Thor'), ('Black Widow', 'Natasha Romanoff'), ('Hawkeye', 'Clint Barton')])

In [0]:
living_area = input("請輸入您的居住縣市:")
living_cost = None
if living_area == '臺北市':
    living_cost = 17005
elif living_area == '新北市':
    living_cost = 15500
elif living_area == '桃園市':
    living_cost = 15281
elif living_area == '臺中市':
    living_cost = 14596
elif living_area == '臺南市':
    living_cost = 12388
elif living_area == '高雄市':
    living_cost = 13099
elif living_area == '非六都之縣市':
    living_cost = 12388
elif living_area == '金門縣連江縣':
    living_cost = 11648

if living_cost is None:
    print("請重新輸入居住縣市")
else:
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

請輸入您的居住縣市:臺南市
臺南市的每人每月最低生活費為12,388

In [0]:
living_cost_dict = {
    '臺北市': 17005,
    '新北市': 15500,
    '桃園市': 15281,
    '臺中市': 14596,
    '臺南市': 12388,
    '高雄市': 13099,
    '非六都之縣市': 12388,
    '金門縣連江縣': 11648
}
living_area = input("請輸入您的居住縣市:")
try:
    living_cost = living_cost_dict[living_area]
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
except KeyError:
    print("請重新輸入居住縣市")

請輸入您的居住縣市:花蓮縣
請重新輸入居住縣市

set 能運行集合運算

| 聯集

& 交集

-差異

^ 對稱差異

In [0]:
primes = {2, 3, 5, 7, 11, 13}
odds = {1, 3, 5, 7, 9, 11, 13}
print(type(primes))
print(type(odds))

<class 'set'>
<class 'set'>

In [0]:
# 交集
primes & odds

{3, 5, 7, 11, 13}

In [0]:
# 聯集
primes | odds

{1, 2, 3, 5, 7, 9, 11, 13}

In [0]:
# 差異
print(primes - odds)
print(odds - primes)

{2}
{1, 9}

In [0]:
# 對稱差異
primes ^ odds

{1, 2, 9}

使用iter

In [0]:
primes

(2, 3, 5, 7, 11)

In [0]:
I = iter(primes)
next(I)

2

使用range

In [0]:
for i in range(1, 101, 1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100